[submodule "conda-recipes/vendor/bfalg-ndwi"]
	path = conda-recipes/vendor/bfalg-ndwi
	url = https://github.com/venicegeo/bfalg-ndwi.git
[submodule "conda-recipes/vendor/beachfront-py"]
	path = conda-recipes/vendor/beachfront-py
	url = https://github.com/venicegeo/beachfront-py.git
[submodule "conda-recipes/vendor/gippy"]
	path = conda-recipes/vendor/gippy
	url = https://github.com/gipit/gippy.git
[submodule "conda-recipes/vendor/pzsvc-exec"]
	path = conda-recipes/vendor/pzsvc-exec
	url = https://github.com/venicegeo/pzsvc-exec.git
[submodule "conda-recipes/vendor/pypotrace"]
	path = conda-recipes/vendor/pypotrace
	url = https://github.com/flupke/pypotrace.git
