{
	"CliCmd":"python ../bfalg-ndwi.py --outdir .",
	"VersionCmd":"python ../bfalg-ndwi.py --version",
	"PzAddr":"https://pz-gateway.stage.geointservices.io",
	"SvcName":"BF_Algo_NDWI_PY",
	"Url":"https://pzsvc-ndwi.stage.geointservices.io",
	"Description":"Shoreline Detection using the NDWI Algorithm via Beachfront's own python script.",
	"AuthEnVar":"",
	"Attributes":{
		"ImgReq - cloudCover":"10",
		"ImgReq - bands":"coastal,swir1",
		"SvcType":"beachfront",
		"Interface":"pzsvc-ndwi",
		"ArbAttribute":"still arbitrary"
	},
	"CanUpload": true,
	"CanDownlPz": true,
	"CanDownlExt": true 
}
