{
	"CliCmd":"python ../bfalg-ndwi.py --outdir .",
	"VersionCmd":"python ./bfalg-ndwi.py --version",
	"PzAddrEnVar":"PZ_ADDR",
	"SvcName":"BF_Algo_NDWI_PY",
	"Description":"Shoreline Detection using the NDWI Algorithm via Beachfront's own python script.",
	"APIKeyEnVar":"PZ_API_KEY",
	"PortEnVar":"PORT",
	"Attributes":{
		"ImgReq - cloudCover":"10",
		"ImgReq - bands":"coastal,swir1",
		"SvcType":"beachfront",
		"Interface":"pzsvc-ndwi-py",
		"ArbAttribute":"is still arbitrary"
	},
	"CanUpload": true,
	"CanDownlPz": true,
	"CanDownlExt": true,
	"RegForTaskMgr": true,
	"MaxRunTime": 450,
	"LocalOnly": false,
	"LogAudit": true,
	"ExtRetryOn202":true,
	"DocURL":"https://github.com/venicegeo/pzsvc-ndwi-py/blob/master/README.md"
}
