{
	"CliCmd":"env",
	"VersionCmd":"",
	"PzAddr":"https://pz-gateway.int.geointservices.io",
	"SvcName":"BF_Algo_NDWI",
	"Url":"https://pzsvc-ossim.int.geointservices.io",
	"Description":"Shoreline Detection using the NDWI Algorithm via Beachfront's own python script.",
	"AuthEnVar":"PZ_AUTH",
	"ImageReqs":{
            "CloudCover":"10%",
            "Bands":"3,6",
            "Coastal":"Yes"
        },
        "Attributes":{}
}
